<div class="power-container">
    <div class="power-item power__item01"></div>
    <div class="power-item power__item02"></div>
    <div class="power-item power__item03"></div>
    <div class="power-item power__item04"></div>
    <div class="power-item power__item05"></div>
    <div class="power-item power__item06"></div>
    <div class="power-item power__item07"></div>
    <div class="power-item power__item08"></div>
    <div class="power-item power__item09"></div>
    <div class="power-item power__item10"></div>
</div>

<img src="../../../public/logo512.png" alt="logo">



div.form__container>form>div.form__titles+input[type='text'][onChange='this.state.input$$']*5+select>options[value='option$$'][onChange='this.state.option$$']{option$$}*5+input[type='switch'][onChange='this.state.switch$$']*3


<p>switch01</p>
<p>switch02</p>
<p>switch03</p>
