.add-article_form__container {
    width: 100vw;
    /* height: 100vh; */
    /* background-color: rgb(255, 184, 184); */
    overflow-y: scroll;
    position: fixed;
    top: 130px;
    padding-top: 25%;
    left: 0;
    bottom: 70px;
    box-sizing: border-box;
    border: rgb(197, 197, 197) 5px solid;
    z-index: 1;
}

.add-article_form {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    
}

.add-article_form__titles {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: ; */
    box-sizing: border-box;
}
.add-article_form__inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: ; */
    box-sizing: border-box;
}

input[type='text'] {
    width: 100%;
    height: 50px;
    color: red;
    background-color: rgb(221, 221, 221);
}
input[type='switch'] {
    width: 100%;
    height: 50px;
    color: red;
    background-color: green;
}
p {
    width: 100%;
    height: 50px;
    margin: 0;
}

select {
    width: 100%;
    height: 50px;
    margin: 0;
}
 
.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
} 

