.form-container {
    /* overflow-y: scroll; */
    position: fixed;
    top: 130px;
    left: 0;
    bottom: 70px;
    width: 100vw;
    /* padding: 15px; */
    padding-bottom: 0;
    /* padding-inline-start: 0; */
    display: flex;
/* flex-direction: column; */
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-start;
    box-sizing: border-box;
    border: rgb(197, 197, 197) 5px solid;
  }

.user-add-form {
    /* border: black 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 25px; */
    position: relative;
    z-index: -1;
}
.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.input {
    width: 100%;
    height: auto;
    background-color: blue;
    /* color: whitesmoke; */
    font-size: 18px;
    text-align: center;
    padding: 5px;
    /* border: 2px solid gray;*/
}

.validation {
    border-radius: 3px;
    background: red;
    color: white;
    padding: 3px;
    text-align: center;
    display: none;
    width: 100%;
    margin: 15px auto;
}

.btn {
    width: 100%;
    height: auto;
    font-size: 28px;
    text-align: center;
}