form.user-add-form {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 90vw;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    position: relative;
    z-index: -1;
}

.input {
    width: 100%;
    height: 20%;
    background-color: blue;
    /* color: whitesmoke; */
    font-size: 18px;
    text-align: center;
    padding: 5px;
    /* border: 2px solid gray;*/
}

.validation {
    border-radius: 3px;
    background: red;
    color: white;
    padding: 3px;
    text-align: center;
    display: none;
    width: 100%;
    margin: 15px auto;
}

.btn {
    width: 100%;
    height: 20%;
    font-size: 28px;
    text-align: center;
}