.articles-container{
    overflow-y: scroll;
    position: fixed;
    top: 52px;
    left: 0;
    bottom: 52px;
    width: 100vw;
    padding:15px;
    padding-bottom: 0;
    padding-inline-start: 0;
}

.aricle-box {
    
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    flex-wrap: wrap;
    z-index: -1;
}