* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.iSwitch{
    width: 100%;
}
.iSwitch_module{
    width: 100%;
}
table{
    width: 100%;
    border: 2px solid black;
    /* height: 25%;
    box-sizing: border-box;
    border-style: outset; */
    background-color: gold;
}
thead{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    background-color: blue;
}
tbody{
    border: 1px solid black;
}
tr{
    width: 100%;
    border: 1px solid black;
    background-color: red;
}
td{
    border: 1px solid black;
    background-color: rgb(250, 250, 250);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
button{
width: 50px;
height: 50px;
padding: 0 0 0 0;
margin: 0 0 0 0;
font-size: 24px;
background-color: gray;
/* border-style: inset; */
/* border: 5px solid gray; */
}
h1{
    border: 3px rgb(70, 70, 70) solid;
    background-color: slategrey;
    color: whitesmoke;
    padding-inline-start: 0;
    margin:0;
    font-size: 24px;
}