.navbar {
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-inline-start: 0;
    background-color: #282c34;
}

.navbar_btn {
    width: 25%;
    height: 75%;
    font-size: 25px;
    color: whitesmoke;
    background-color: #282c34;
    /* border: #282c34 2px solid; */
    /* line-height: 50px; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

label {
    height: 25%;
    width: 100%;
    font-size: 1rem;
    /* margin-left: auto;
    margin-right: auto; */
}

.navbar_btn:hover {
    color: rgb(45, 210, 240);
    background-color: #282c34;
    /* border: #282c34 2px solid; */
}

.navbar_btn:active {
    color: rgb(45, 210, 240);
    background-color: #282c34;
    /* border: #282c34 2px solid; */
}

.log-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
