.toggleActive{
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid silver;
    border-style: inset;
}
.toggleNotActive{
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid silver;
    border-style: outset;
}

.toggleActiveALL{
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid silver;
    border-style: inset;
}
.toggleNotActiveALL{
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid silver;
    border-style: outset;
}